@font-face {
    font-family: sofiaBlack;
    src: url("fonts/Sofia Pro Black Az.otf") format("opentype");
}

@font-face {
    font-family: sofiaBold;
    src: url("fonts/Sofia Pro Bold Az.otf") format("opentype");
}

@font-face {
    font-family: sofiaLight;
    src: url("fonts/Sofia Pro Semi Bold Az.otf") format("opentype");
    font-weight: bold;
}

@font-face {
    font-family: sofiaLight;
    src: url("fonts/Sofia Pro Light Az.otf") format("opentype");
}

@font-face {
    font-family: sofiaLight;
    src: url("fonts/Sofia Pro Light Italic Az.otf") format("opentype");
    font-style: italic;
}

body {
  background-color: #f6f6ee;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

#contact {
  background-color: #c2c1f8;
}

.navbar {
  overflow: hidden;
  border-bottom-style: solid;
  border-width: 2px;

}

.navbar-name {
  float: left;
  font-family: sofiaBlack;
}

.navbar-item {
  float: left;
  font-family: sofiaLight;
}

.navbar-contact {
  border-left-style: solid;
  border-width: 2px;
  float: right;
  font-family: sofiaLight;
}

.navbar a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}

.navbar .icon {
  display: none;
}

@media screen and (max-width: 770px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 770px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media (min-width: 576px)
.container {
    max-width: 600px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  max-width: 1000px;
  min-height: 2000px;
  position: relative;
}

.contact-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  max-width: 300px;
  min-height: 2000px;
  position: relative;
}

#background {
  height: 100%;
  width: 100%;
  object-fit: contain
}

.about {
  position: absolute;
  top: 5%;
  left:10%;
  width: 42%;
  float: left;

}

.publications {
  position: absolute;
  top: 38%;
  left: 10%;
  width: 77%;
  float: left;
}

.teaching {
  position: absolute;
  top: 87%;
  left: 10%;
  width: 77%;
  float: left;
}

h1 {
  font-family: sofiaBold;
  font-size: 55px;
  text-align: left;
}

h2 {
  font-family: sofiaBold;
  font-size: 43px;
  text-align: left;
}

h3 {
  font-family: sofiaBold;
  font-size: 30px;
}

p {
  font-family: sofiaLight;
  font-size: 18px;
}

.prof-pic {
  display: inline;
  float: right;
  position: absolute;
  top: 8%;
  right:10%;
}

.pub-num {
  display: block;
  float: left;
  margin-block-start: .5em;
  margin-block-end: 0;
}

#pub-header {
  float: left;
}

.pub-first-title {
  display: block;
  float: right;
  text-align: right;
  margin-block-start: 0em;
  margin-block-end: 0em;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-left: 5px;
}

.pub-title {
  display: block;
  float: right;
  text-align: right;
  margin-block-start: 0em;
  margin-block-end: 0em;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-left: 5px;
}

.pub-first-info {
  text-align: right;
  display: block;
}

.pub-header {
  overflow: auto;
  width: 100%
}

.pub-info {
  text-align: right;
  display: block;
}

@media only screen and (max-width: 767px) {
    .prof-pic {
        display: none;
    }
    h1 {
      font-size: 36px;
    }
    p {
      font-size: 12px;
    }
    .about {
        display: block;
        margin-bottom: 35px;
        width: 85%;
        top: 0%;
    }
    .pub-num {
      display: none;
    }
    .publications {
        display: block;
        width: 80%;
        right: auto;
        left: 10%;
        top: 32vh;
    }
    .teaching {
        display: block;
        width: 80%;
        right: auto;
        left: 10%;
        top: 61vh;
    }
    .container {
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
      display: block;
      max-width: 1000px;
      min-height: 750px;
      position: relative;
    }
    h3 {
      font-size: 15px;
    }

    .pub-title {
      text-align: left;
      right: auto;
      margin-block-start: 0em;
      margin-block-end: 0em;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      padding-left: 0px;
      margin-bottom: 10px;
      width: 100%;
      height: auto;
    }
    .pub-first-info {
      font-size: 13px;
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: right;
      display: block;
      margin-block-start: 0em;
      margin-block-end: 0em;
    }
    .pub-info {
      font-size: 13px;
      text-align: right;
      display: block;
      width: 100%;
      margin-top: 0px;
      margin-bottom: 10px;
      overflow: hidden;
    }
    .pub-info p {
      margin-block-start: 0em;
      margin-block-end: 0em;
    }
    .pub-first-info p{
      margin-block-start: 0em;
      margin-block-end: 0em;
    }
}

@media only screen and (max-width: 650px) {
    .publications {
        top: 42vh;
    }
    .teaching {
        top: 76vh;
    }
}


@media only screen and (max-width: 540px) {
    .publications {
        top: 42vh;
    }
    .teaching {
        top: 76vh;
    }
}

@media only screen and (max-width: 393px) {
    .publications {
        top: 53vh;
    }
    .teaching {
        top: 91vh;
    }
}

@media only screen and (max-width: 281px) {
    .publications {
        top: 62vh;
    }
    .teaching {
        top: 109vh;
    }
}

ul {
  padding-inline-start: 0px;
}

ul a {
  display: inline;
  font-family: sofiaLight;
  border-radius: 5px;
  background-color: #c2c1f8;
  color: #000000;
  padding: 3px;
  text-decoration: none;
  height:30px;
  width:auto;
  border-style: solid;

}

ul a:hover {
  background-color: #e8e8f4;
  text-decoration: underline;
}

h4 {
  display: block;
  font-family: sofiaBold;
  font-size: 60px;
  text-align: center;
  margin-top: 60px;
}

.contact-buttons {
  text-align: center;
}

.contact-buttons a {
  font-family: sofiaLight;
  color: #000000;
  padding-top: 6px;
  padding-bottom: 6px;
  text-decoration: none;
  text-align: center;
}

a.button {
   width: 150px;
   text-align: center;
}

.contact-buttons a:hover {
  text-decoration: underline;
}
